@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oleo+Script+Swash+Caps&family=Shadows+Into+Light&display=swap');



::-webkit-scrollbar {
  width: 0px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 

}

.App{
  min-height:100vh;
  display: flex;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center ;
  color: black;
}


#root > div > div > div.css-lp0dmf > div.css-afjmnl {

     background: #f1e2e7 !important;
}
#root > div > div > div.css-lp0dmf > div.css-1giizmx{
      background: #f1e2e7 !important;
      
}

.btn{
  width:100%;
  height:45px;
  border-radius:45px;
  cursor:pointer;
  border:none;
  background-color:#efefef ;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn:hover{
  background: #2ceae5;
  transform:translateY(-7px);
  color:#fff;
  box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}
.red{
  background:rgb(255, 56, 56);
  
}
